<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--

NOTE:   Following definitions are taken from kwdb (https://code.google.com/p/kwdb/).
        Should you have any question about the avoid/event/function/constant
        definitions, please check with the kwdb project and contact the kwdb
        maintener first. If kwdb have updated their database version and mine is
        still old, please let me know.

[@--$description--@]

-->
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>lsl</string>
	</array>
	<key>name</key>
	<string>LSL</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>include</key>
			<string>#value</string>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>array</key>
		<dict>
			<key>begin</key>
			<string>\[</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.array.begin.lsl</string>
				</dict>
			</dict>
			<key>end</key>
			<string>\]</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.array.end.lsl</string>
				</dict>
			</dict>
			<key>name</key>
			<string>meta.inarray.lsl</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#infunc</string>
				</dict>
			</array>
		</dict>
		<key>avoid</key>
		<dict>
			<key>match</key>
			<string>\b[@--$invalids--@]\b</string>
			<key>name</key>
			<string>invalid.deprecated.lsl</string>
		</dict>
		<key>begin_end</key>
		<dict>
			<key>begin</key>
			<string>\{</string>
			<key>end</key>
			<string>\}</string>
			<key>name</key>
			<string>meta.incode.lsl</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#infunc</string>
				</dict>
			</array>
		</dict>
		<key>commentblock</key>
		<dict>
			<key>begin</key>
			<string>/\*</string>
			<key>end</key>
			<string>\*/</string>
			<key>name</key>
			<string>comment.block.lsl</string>
		</dict>
		<key>commentline</key>
		<dict>
			<key>match</key>
			<string>(//).*$\n?</string>
			<key>name</key>
			<string>comment.line.double-slash.lsl</string>
		</dict>
		<key>constant</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>\b(default|state)\b</string>
					<key>name</key>
					<string>constant.language.state.lsl</string>
				</dict>
				<dict>
					<key>match</key>
					<string>\b(TRUE|FALSE)\b</string>
					<key>name</key>
					<string>constant.language.integer.lsl</string>
				</dict>
				<dict>
					<key>match</key>
					<string>\b(NULL_KEY|EOF)\b</string>
					<key>name</key>
					<string>constant.language.string.lsl</string>
				</dict>
			</array>
		</dict>
		<key>event</key>
		<dict>
			<key>begin</key>
			<string>^\s*[@--$valid_events--@]\b</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>support.function.event.lsl</string>
				</dict>
			</dict>
			<key>end</key>
			<string>\}</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.event.end.lsl</string>
				</dict>
			</dict>
			<key>name</key>
			<string>meta.event.lsl</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>\(</string>
					<key>end</key>
					<string>\)</string>
					<key>name</key>
					<string>meta.event.parameters.lsl</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#storage_type</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>{</string>
					<key>end</key>
					<string>(?=})</string>
					<key>name</key>
					<string>meta.event.body.lsl</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#infunc</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>include</key>
					<string>#commentblock</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#commentline</string>
				</dict>
			</array>
		</dict>
		<key>flow_control</key>
		<dict>
			<key>match</key>
			<string>\b(jump|return|if|else|for|do|while|@)\b</string>
			<key>name</key>
			<string>keyword.control.flow.lsl</string>
		</dict>
		<key>functiondef</key>
		<dict>
			<key>begin</key>
			<string>(?:\w+\s+)?(\w+)?\s*(?=\(.*?\))</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.function.begin.lsl</string>
				</dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>entity.name.function.lsl</string>
				</dict>
			</dict>
			<key>end</key>
			<string>}</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.function.end.lsl</string>
				</dict>
			</dict>
			<key>name</key>
			<string>meta.function.lsl</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>\(</string>
					<key>end</key>
					<string>\)</string>
					<key>name</key>
					<string>meta.function.parameters.lsl</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#storage_type</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>{</string>
					<key>end</key>
					<string>(?=})</string>
					<key>name</key>
					<string>meta.function.body.lsl</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#infunc</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>include</key>
					<string>#commentblock</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#commentline</string>
				</dict>
			</array>
		</dict>
		<key>infunc</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#begin_end</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#commentblock</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#commentline</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#array</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#quoted</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#flow_control</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#constant</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#storage_type</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#llconstant</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#avoid</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#reserved</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#llfunction</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#number</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#operator</string>
				</dict>
			</array>
		</dict>
		<key>llconstant</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>\b[@--$valid_constants--@]\b</string>
					<key>name</key>
					<string>constant.language.ll.integer.lsl</string>
				</dict>
				<dict>
					<key>match</key>
					<string>\b(TEXTURE_(BLANK|DEFAULT|MEDIA|PLYWOOD|TRANSPARENT))\b</string>
					<key>name</key>
					<string>constant.language.ll.string.lsl</string>
				</dict>
				<dict>
					<key>match</key>
					<string>\b(PI|TWO_PI|PI_BY_TWO|DEG_TO_RAD|RAD_TO_DEG|SQRT2)\b</string>
					<key>name</key>
					<string>constant.language.ll.float.lsl</string>
				</dict>
				<dict>
					<key>match</key>
					<string>\b(ZERO_(VECTOR|ROTATION))\b</string>
					<key>name</key>
					<string>constant.language.ll.compound.lsl</string>
				</dict>
			</array>
		</dict>
		<key>llfunction</key>
		<dict>
			<key>match</key>
			<string>\b[@--$valid_functions--@]\b</string>
			<key>name</key>
			<string>support.function.ll.lsl</string>
		</dict>
		<key>number</key>
		<dict>
			<key>name</key>
			<string>constant.numeric.lsl</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>\b(?i:(\d+\.\d*(e[\-\+]?\d+)?))(?=[^a-zA-Z_])</string>
					<key>name</key>
					<string>constant.numeric.float.lsl</string>
				</dict>
				<dict>
					<key>match</key>
					<string>(?&lt;=[^0-9a-zA-Z_])(?i:(\.\d+(e[\-\+]?\d+)?))</string>
					<key>name</key>
					<string>constant.numeric.float.lsl</string>
				</dict>
				<dict>
					<key>match</key>
					<string>\b(?i:(\d+e[\-\+]?\d+))</string>
					<key>name</key>
					<string>constant.numeric.float.lsl</string>
				</dict>
				<dict>
					<key>match</key>
					<string>\b(?i:(0x\h*))</string>
					<key>name</key>
					<string>constant.numeric.integer.hexadecimal.lsl</string>
				</dict>
				<dict>
					<key>match</key>
					<string>\b(0[0-7]+)</string>
					<key>name</key>
					<string>constant.numeric.integer.octal.lsl</string>
				</dict>
				<dict>
					<key>match</key>
					<string>\b([1-9]+[0-9]*|0)</string>
					<key>name</key>
					<string>constant.numeric.integer.decimal.lsl</string>
				</dict>
			</array>
		</dict>
		<key>operator</key>
		<dict>
			<key>match</key>
			<string>[\=\+\-%&amp;&lt;&gt;^|\*!~]</string>
			<key>name</key>
			<string>keyword.operator.lsl</string>
		</dict>
		<key>quoted</key>
		<dict>
			<key>begin</key>
			<string>"</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.begin.lsl</string>
				</dict>
			</dict>
			<key>end</key>
			<string>"</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.end.lsl</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.quoted.double.lsl</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>\\(x\h{2}|[0-2][0-7]{,2}|3[0-6][0-7]|37[0-7]?|[4-7][0-7]?|.)</string>
					<key>name</key>
					<string>constant.character.escape.lsl</string>
				</dict>
			</array>
		</dict>
		<key>reserved</key>
		<dict>
			<key>match</key>
			<string>\b(event|print)\b</string>
			<key>name</key>
			<string>variable.language.lsl</string>
		</dict>
		<key>state</key>
		<dict>
			<key>begin</key>
			<string>^\s*((?:state)\s+\w+|default)\b</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>entity.name.class.state.begin.lsl</string>
				</dict>
			</dict>
			<key>end</key>
			<string>\}</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.state.end.lsl</string>
				</dict>
			</dict>
			<key>name</key>
			<string>meta.state.lsl</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>{</string>
					<key>end</key>
					<string>(?=})</string>
					<key>name</key>
					<string>meta.state.body.lsl</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#commentblock</string>
						</dict>
						<dict>
							<key>include</key>
							<string>#commentline</string>
						</dict>
						<dict>
							<key>include</key>
							<string>#event</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>include</key>
					<string>#commentblock</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#commentline</string>
				</dict>
			</array>
		</dict>
		<key>storage_type</key>
		<dict>
			<key>match</key>
			<string>\b(integer|float|string|key|vector|quaternion|rotation|list)\b</string>
			<key>name</key>
			<string>storage.type.lsl</string>
		</dict>
		<key>value</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#commentblock</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#commentline</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#state</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#storage_type</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#quoted</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#constant</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#reserved</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#number</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#operator</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#array</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#functiondef</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>source.lsl</string>
	<key>uuid</key>
	<string>9b597cba-0612-4f3d-8e02-edaa14abdc95</string>
</dict>
</plist>
